Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! URXVT Configuration

URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.scrollBar: false

URxvt.internalBorder: 8

! URXVT Font
!URxvt*font: xft:Iosevka Anonymous Pro:size=12
URxvt*font: xft:Roboto Mono:style=Medium:size=11, xft:RobotoMono Nerd Font Mono:size=11, xft:DejaVuSansMono Nerd Font Mono:size=11
URxvt*boldFont: xft:Roboto Mono:style=Bold:size=11, xft:RobotoMono Nerd Font Mono:size=11, xft:DejaVuSansMono Nerd Font Mono:size=11
URxvt*letterSpace: 0

! Perl Extensions
URxvt.perl-ext-common: new-window

! Keybindings
URxvt.keysym.Shift-Control-T: perl:new-window
URxvt.keysym.Shift-Control-t: perl:new-window

URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keyxym.Shift-Control-V: eval:paste_clipboard

! Colors

! special
*.foreground:   #e9efff
*.background:   #2f343f
*.cursorColor:  #e9efff
URxvt.borderColor: #2f343f

! black
*.color0:       #404552
*.color8:       #4c5262

! red
*.color1:       #e18f93
*.color9:       #e18f93

! green
*.color2:       #addaaa
*.color10:      #addaaa

! yellow
*.color3:       #fdf0b8
*.color11:      #fdf0b8

! blue
*.color4:       #b7cdff
*.color12:      #b7cdff

! magenta
*.color5:       #e2abe2
*.color13:      #e2abe2

! cyan
*.color6:       #b8d0e4
*.color14:      #b8d0e4

! white
*.color7:       #fcfcfc
*.color15:      #fcfcfc
