configuration {
    show-icons: false;
}

* {
    font: "Roboto 16";
    padding: 5px 10px;
    color: #ffffff;
    background-color: #00000000;
}

window {
    border-radius: 6px;
    height: 600px;
    width: 1000px;
    padding: 30px;
    background-color: #2f343ffa;
}

#prompt {
    color: #5294e2;
}

listview {
    padding: 30px 0px 0px 0px;
    spacing: 0.5em;
}

#element selected {
    border-radius: 3px;
    text-color: #ffffff;
    background-color: #5294e2;
}
